@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Nunito:wght@200;400&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&family=Patrick+Hand&family=Tapestry&display=swap');

img {
  border-radius: 40%;
}

h1 {
  font-family: 'Nunito';
  font-weight: bolder;
  color: rgb(0, 29, 61);
}

h3 {
  font-family: 'Patrick hand';
  font-weight: 100;
}

p {
  font-family: "Open sans";
  font-size: x-small;
}

.container {
  background-color: rgb(254, 248, 229);
}

.card {
  box-shadow: 2px 2px 5px rgb(113, 112, 112);
  font-family: 'Nunito';
  text-align: center;
  margin: 20px auto;
  width: 750px;
  background-color: white;
  padding: 15px 15px 0 15px;
  border-radius: 5px;
}

.button {
  box-shadow: 2px 2px 12px black;
  font-size: small;
  text-decoration: none;
  color: rgb(25, 37, 86);
  border-radius: 8px;
  background-color: white;
  border: 2px solid rgb(25, 37, 86);
  font-family: 'Nunito';
  padding: 10px 15px
}

.button:hover {
  background-color: rgb(25, 37, 86);
  color: white;
}

footer {
  background-color: rgb(253, 216, 93);
  text-align: center;
  font-family: 'Nunito';
  font-size: small;
}

.media-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.media__items {
  color:rgb(0, 53, 102);
  display: inline-block;
  font-size: 20px;
  margin: 0 5px
}
